<div class="center jumbotron">
  <h1><%= t("application.general.welcome") %></h1>
  <h2>
    <%= t("application.general.title_home") %>
    <a href="http://www.railstutorial.org/">
      <%= t("application.general.title_link_home") %>
    </a>
    <%= t("application.general.temp_title") %>
  </h2>
</div>
