<% provide :title, t("application.general.allUser") %>
<h1><%= t("application.general.showall") %></h1>
<%= will_paginate %>
  <div class="col-md-12">
    <%= render @users %>
    <hr>
  </div>
<%= will_paginate %>
