<% provide :title, t("application.general.showProfile") %>
<div class="container">
  <div class="row information">
    <div class="row1">
      <div id="showName" class="col-md-9">
        <div class="col-md-3">
          <strong><%= t "application.model.nameShow" %></strong>
        </div>
        <div class="col-md-6"><strong><span><%= @user.name %></span></strong></div>
      </div>
    </div>
    <div class="row2">
      <div class="col-md-9">
        <div class="col-md-3">
          <strong><%= t "application.model.emailShow" %></strong>
        </div>
        <div class="col-md-6"><strong><span><%= @user.email %></span></strong></div>
      </div>
    </div>
  </div>
</div>

