<% provide :title, t("supervisor.subjects.editSubject") %>
<div class="page-header">
  <h2><%= t("supervisor.subjects.editSubject") %></h2>
</div>
<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <%= render "form" %>
  </div>
</div>
