<div class="row">
  <div id="courses" class="col-md-8 col-md-offset-2">
    <% if @user_courses.count > 0 %>
      <h3>
        <%= t ".enrolled_in", course_count: pluralize(@user_courses.count, t(".course")) %>
      </h3>
      <%= render partial: "courses", collection: @user_courses, as: :user_course %>
      <%= will_paginate @user_courses %>
    <% else %>
      <p><%= t(".no_course") %></p>
    <% end %>
  </div>
</div>

