<footer class="footer">
  <small>
    <p><%= t("application.general.footer") %></p>
  </small>
  <nav>
    <ul>
      <li><%= link_to t("application.general.about"),   "about_path" %></li>
    </ul>
  </nav>
</footer>
