<footer class="footer">
  <div class="col-md-10">
    <small>
      <p><%= t "application.general.footer" %></p>
    </small>
  </div>
  <div class="col-md-2">
    <nav>
      <ul>
        <li><%= link_to t("application.general.about"),   "about_path" %></li>
      </ul>
    </nav>
  </div>
</footer>
